/vendor/
/logs/*
!/logs/README.md
/bower_components/
/node_modules/
/logs/
CONTRIBUTING.md
/path/
/MongoDBPortable/Data/db/diagnostic.data/
/MongoDBPortable/Data/db/journal/
/MongoDBPortable/Data/settings

/.env

/public/api/wheater.json
