  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text" id="location"></li>
      <li><img id="img_c" width="40px" height="40px"></li>
      <li id="temp_0"> &nbsp; </li>
      <li id="precipC_c"> &nbsp; </li>
      <li id="windspeed_0"> &nbsp; </li>
      <li class="divider"></li>
      <li class="menu-text">Upcoming</li>
      <li><img id="img_n" width="40px" height="40px"></li>
      <li id="temp_1"> &nbsp; </li>
      <li id="precipC_n"> &nbsp; </li>
      <li id="windspeed_1"> &nbsp; </li>
    </ul>
  </div>
