<div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong>Weather</strong>
    </div>
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text" id="location"></li>
      <li><img id="img_c" width="40px" height="40px"></li>
      <li id="temp_0"></li>
      <li id="precipC_c"></li>
      <li id="windspeed_0"></li>
      <li class="divider"></li>
      <li class="menu-text">Upcoming</li>
      <li><img id="img_n" width="40px" height="40px"></li>
      <li id="temp_1"></li>
      <li id="precipC_n"></li>
      <li id="windspeed_1"></li>
    </ul>
  </div>
  <div class="top-bar-right"></div>
</div>
