//For the backgrounds
body{background-size: 100%;background-repeat: no-repeat;}
body.booking {background-image: url("/img/backgrounds/desktop/background_booking.jpg");}
body.login {background-image: url("/img/backgrounds/desktop/background_login.jpg");}
body.scores{background-image: url("/img/backgrounds/desktop/background_scores.jpg");}
body.upload{background-image: url("/img/backgrounds/shared/background_upload.jpg"); background-repeat: repeat;}
body.controlpanel{background-image: url("/img/backgrounds/desktop/background_controlpanel.jpg");}
//End of backgrounds
