//Style for inputboxes #DRY
input[type="text"], input[type="email"], input[type="number"], input[type="date"], textarea#textarea_message{
    display: block;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    border-radius: 10px;
    resize: none;
}
