@media only screen and (max-device-width: 640px) {
    body.login{background-image: url("/img/backgrounds/mobile/background_m_login.jpg"); background-repeat: no-repeat;}
    body.controlpanel{background-image: url("/img/backgrounds/mobile/background_m_controlpanel.jpg");}
    body {
        background: #999;
        width: 100%;

        .box{
            background: lightgrey;
            text-align: center;
            width:80%;
            margin-top:5%;
            margin-right:auto;
            margin-left:auto;
            border-radius:10px;
        }
    }
}
